body {
  text-align: center;
}
#high-score {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
  font-weight: bold;
}
.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2rem;
}
.btn_container {
  display: flex;
  justify-content: center;
}
.red {
  background-color: rgba(228, 58, 58, 0.803);
}
.green {
  background-color: rgb(19, 214, 133);
}
.purple {
  background-color: rgb(193, 8, 153);
}
.yellow {
  background-color: rgba(219, 190, 6, 0.852);
}
.flash {
  background-color: white;
}
